<a href="https://colab.research.google.com/github/aabarzu/Coding-Dojo/blob/main/EjercicioDatosTitanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Ejercicios Titanic**

In [156]:
from google.colab import drive
import pandas as pd


drive.mount('/content/drive', force_remount=True)

filename = '/content/drive/MyDrive/CodingDojo/DataScience/PandasForDataManipulation/Datos/titanic.csv'

titanic_df = pd.read_csv(filename)

Mounted at /content/drive

#**1.-Muestra la cabecera de la trama de datos**

In [157]:
titanic_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

#**2.-¿Cuál es el porcentaje de personas que sobrevivió? (pista: encuentra la media de la columna de supervivencia)**

In [158]:
#Forma 1
print(f" el % de sobrevivientes fue de : {titanic_df['Survived'].mean() * 100.0} \n")

 el % de sobrevivientes fue de : 38.38383838383838

In [159]:
#Forma 2
filter_Survived = titanic_df['Survived'] == 1
porcentaje_sobrevivientes = titanic_df.loc[filter_Survived][['Survived']].count()/titanic_df[['Survived']].count() * 100
print(f" el % de sobrevivientes fue de  {porcentaje_sobrevivientes} % \n")

 el % de sobrevivientes fue de  Survived    38.383838
dtype: float64 %

In [160]:
#Agrupando 

titanic_df.loc[0:].groupby(['Survived'])[['Survived']].count() / titanic_df['Survived'].count() * 100.0

           Survived
Survived
0         61.616162
1         38.383838

# **3.-¿Cuántos de cada sexo sobrevivieron?**

In [161]:
filter_Survived = titanic_df['Survived'] == 1
titanic_df[filter_Survived].groupby(['Sex'])['Survived'].count()

Sex
female    233
male      109
Name: Survived, dtype: int64

# **4.-¿Cuál es el porcentaje de gente que sobrevivió que pagó un pasaje de menos de 10?**

In [162]:
filter_Mix =  (titanic_df['Survived'] == 1) & (titanic_df['Fare'] < 10)

porcentaje_filtrado = titanic_df[filter_Mix ]['Survived'].count() / titanic_df['Survived'].count() * 100

print(f" el porcentaje de la gente que sobrevivió que pago un pasaje menor a 10 es : {porcentaje_filtrado} %")

 el porcentaje de la gente que sobrevivió que pago un pasaje menor a 10 es : 7.519640852974187 %

# **5.-¿Cuál es la edad promedio de quienes no sobrevivieron?**

In [163]:
#Forma 1
filter_Survived = titanic_df['Survived'] == 0
titanic_df[filter_Survived][['Age']].mean()

Age    30.626179
dtype: float64

In [164]:
#Forma 2
filter_Survived = titanic_df['Survived'] == 0
titanic_df[filter_Survived].groupby(['Survived'])[['Age']].mean()

                Age
Survived
0         30.626179

In [165]:
#Forma 3
filter_Survived = titanic_df['Survived'] == 0
titanic_df[filter_Survived]['Age'].sum()/titanic_df[filter_Survived]['Age'].count()

30.62617924528302

# **6.-¿Cuál es la edad promedio de quienes sobrevivieron?**

In [166]:
#Forma 1
filter_Survived = titanic_df['Survived'] == 1
titanic_df[filter_Survived][['Age']].mean()

Age    28.34369
dtype: float64

In [167]:
#Forma 2
filter_Survived = titanic_df['Survived'] == 0
titanic_df[filter_Survived].groupby(['Survived'])[['Age']].mean()

                Age
Survived
0         30.626179

In [168]:
#Forma 3
filter_Survived = titanic_df['Survived'] == 0
titanic_df[filter_Survived]['Age'].sum()/titanic_df[filter_Survived]['Age'].count()

30.62617924528302

In [169]:
#Agrupados
titanic_df.loc[0:].groupby(['Survived'])[['Age']].mean()

                Age
Survived
0         30.626179
1         28.343690

# **7.-¿Cuál es la edad promedio de quienes sobrevivieron y no sobrevivieron agrupados por sexo?**

In [170]:
#Agrupados
titanic_df.loc[0:,].groupby(['Survived','Sex'])[['Age']].mean()

                       Age
Survived Sex
0        female  25.046875
         male    31.618056
1        female  28.847716
         male    27.276022