<a href="https://colab.research.google.com/github/aabarzu/Coding-Dojo/blob/main/EjercicioSQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# montar datos
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [4]:
# imports
import pandas as pd
from sqlalchemy import create_engine

In [6]:
# cargar datos: ¡cambia la ruta para que coincida con tu unidad!
school = pd.read_csv('/content/School_Details.csv')
# Asegúrate de que estén cargados correctamente
school.head()

,DistrictName,EstablishmentCode,EstablishmentName,BRCName,CRCName,SchoolLevel,ManagementName,LocalityHabitation,SubdivisionName,ConstituencyName,...,EstablishedDate,DistrictHQDistance (in Km),CRCDistance (in Km),BACDistance (in Km),IsRecognized,RecognizedBy,ContactPersonName,LowestClass,HighestClass,BoardName
0,East,S0169,BUDANG GOVERNMENT PRIMARY SCHOOL (E),Duga Brc,Central Pendam Government Senior Secondary School,PS,State Govt.,BUDANG,Gangtok,Rhenock,...,28126,58.0,8.0,16.0,Recognized,HRDD,NaN,Class 1,Class 5,NaN
1,East,S0099,CENTRAL PENDAM GOVERNMENT SENIOR SECONDARY SCHOOL,Duga Brc,Central Pendam Government Senior Secondary School,SSS,State Govt.,CENTRAL PENDAM,Gangtok,West Pandam,...,15342,50.0,0.0,6.0,Recognized,HRDD,NaN,Class 1,Class 12,C.B.S.E.
2,East,S0848,"CENTRAL POINT ACADEMY, CENTRAL PENDAM",Duga Brc,Central Pendam Government Senior Secondary School,SS,Private (Unaided),UPPER BHURUNG CENTRAL PENDAM,Gangtok,West Pandam,...,37257.38680555556,49.0,1.5,6.0,Recognized,"HRDD, GOVT. OF SIKKIM",NaN,Class 1,Class 10,C.B.S.E.
3,East,S0190,CHEURIBOTEY GOVERNMENT JUNIOR HIGH SCHOOL (E),Duga Brc,Central Pendam Government Senior Secondary School,JHS,State Govt.,CHEURIBOTEY,Gangtok,West Pandam,...,28856,60.0,6.0,6.0,Recognized,State Govt.,NaN,Class 1,Class 8,NaN
4,East,S0111,DUGA GOVERNMENT SECONDARY SCHOOL,Duga Brc,Central Pendam Government Senior Secondary School,SS,State Govt.,DUGA,Gangtok,West Pandam,...,1828,52.0,0.0,0.5,Recognized,c.b.s.e.,NaN,Class 1,Class 10,C.B.S.E.

In [9]:
# cargar datos: ¡cambia la ruta para que coincida con tu unidad!
# load table 2
facility = pd.read_csv('/content/School_Facility_Details.csv')
facility.head()

,EstablishmentCode,EstablishmentName,IsLibraryAvailable,AvailableBooksCount,IsFireExtgAvailable,ExtinguisherCount,HOIRoomAvailable,IsStaffRoomAvailable,NoofStaffRoom,IsLockerForStaffAvailable,IsSportsStoreRoomAvailable
0,S1034,(I.E.C) INDIAN EVANGALISTIC CRUSADE MISSION PR...,Not Available,0,Available,1,Available,Not Available,0,Not Available,Not Available
1,S0516,10TH MILE GOVERNMENT PRIMARY SCHOOL,Not Available,0,Not Available,0,Available,Available,1,Not Available,Not Available
2,S0237,4TH MILE GOVERNMENT JUNIOR HIGH SCHOOL,Not Available,0,Available,2,Not Available,Not Available,0,Not Available,Not Available
3,S0692,AAPGAZI GOVERNMENT PRIMARY SCHOOL,Not Available,0,Not Available,0,Not Available,Not Available,0,Not Available,Not Available
4,S0374,AARUBOTEY GOVERNMENT PRIMARY SCHOOL,Not Available,0,Available,2,Not Available,Not Available,0,Not Available,Not Available

In [10]:
# crear motor sqlite
engine = create_engine('sqlite:///school.db', echo=True)
# crear conexión con el motor
conn = engine.connect()

In [11]:
# agregar marco de datos como una tabla en sqlite
sqlite_table = "school_details"
school.to_sql(sqlite_table, conn, if_exists='fail')

2022-06-15 04:08:27,345 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("school_details")
2022-06-15 04:08:27,347 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-06-15 04:08:27,355 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("school_details")
2022-06-15 04:08:27,357 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-06-15 04:08:27,366 INFO sqlalchemy.engine.Engine
CREATE TABLE school_details (
	"index" BIGINT,
	"DistrictName" TEXT,
	"EstablishmentCode" TEXT,
	"EstablishmentName" TEXT,
	"BRCName" TEXT,
	"CRCName" TEXT,
	"SchoolLevel" TEXT,
	"ManagementName" TEXT,
	"LocalityHabitation" TEXT,
	"SubdivisionName" TEXT,
	"ConstituencyName" TEXT,
	"RevenueBlockName" TEXT,
	"CivicBodyName" TEXT,
	"WardName" TEXT,
	"PostOfficeName" TEXT,
	"PhoneNo" TEXT,
	"FaxNo" TEXT,
	"EmailID" TEXT,
	"Website" TEXT,
	"LocatedInRuralOrUrban" TEXT,
	"DiseCode" TEXT,
	"EstablishedDate" TEXT,
	"DistrictHQDistance (in Km)" FLOAT,
	"CRCDistance (in Km)" FLOAT,
	"BACDistance (in Km)" FLOAT,
	"IsRecognized" TEXT,
	"RecognizedBy" TEXT,
	"ContactPersonName" FLOAT,
	"LowestClass" TEXT,
	"HighestClass" TEXT,
	"BoardName" TEXT
)


2022-06-15 04:08:27,368 INFO sqlalchemy.engine.Engine [no key 0.00285s] ()
2022-06-15 04:08:27,387 INFO sqlalchemy.engine.Engine COMMIT
2022-06-15 04:08:27,390 INFO sqlalchemy.engine.Engine CREATE INDEX ix_school_details_index ON school_details ("index")
2022-06-15 04:08:27,392 INFO sqlalchemy.engine.Engine [no key 0.00190s] ()
2022-06-15 04:08:27,406 INFO sqlalchemy.engine.Engine COMMIT
2022-06-15 04:08:27,421 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-15 04:08:27,486 INFO sqlalchemy.engine.Engine INSERT INTO school_details ("index", "DistrictName", "EstablishmentCode", "EstablishmentName", "BRCName", "CRCName", "SchoolLevel", "ManagementName", "LocalityHabitation", "SubdivisionName", "ConstituencyName", "RevenueBlockName", "CivicBodyName", "WardName", "PostOfficeName", "PhoneNo", "FaxNo", "EmailID", "Website", "LocatedInRuralOrUrban", "DiseCode", "EstablishedDate", "DistrictHQDistance (in Km)", "CRCDistance (in Km)", "BACDistance (in Km)", "IsRecognized", "RecognizedBy", "ContactPersonName", "LowestClass", "HighestClass", "BoardName") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2022-06-15 04:08:27,489 INFO sqlalchemy.engine.Engine [generated in 0.05385s] ((0, 'East', 'S0169', 'BUDANG GOVERNMENT PRIMARY SCHOOL (E)', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'PS', 'State Govt.', 'BUDANG', 'Gangtok', 'Rhenock', 'Central Pendam', 'Central Pendam', 'Sajong', 'Upper Pendam', None, None, None, None, 'Urban Area', None, '28126', 58.0, 8.0, 16.0, 'Recognized', 'HRDD', None, 'Class 1', 'Class 5', None), (1, 'East', 'S0099', 'CENTRAL PENDAM GOVERNMENT SENIOR SECONDARY SCHOOL', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'SSS', 'State Govt.', 'CENTRAL PENDAM', 'Gangtok', 'West Pandam', 'Central Pendam', 'Central Pendam', 'Karmithang', 'Upper Pendam', '3592263812', None, None, None, 'Urban Area', '800401', '15342', 50.0, 0.0, 6.0, 'Recognized', 'HRDD', None, 'Class 1', 'Class 12', 'C.B.S.E.'), (2, 'East', 'S0848', 'CENTRAL POINT ACADEMY, CENTRAL PENDAM', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'SS', 'Private (Unaided)', 'UPPER BHURUNG CENTRAL PENDAM', 'Gangtok', 'West Pandam', 'Central Pendam', 'Central Pendam', 'Burung', 'Upper Pendam', '03592263809/263960', None, 'ksu_5162@yahoo.com', 'www.facebook.com/khanalkeshav (Group-CPA)', 'Urban Area', None, '37257.38680555556', 49.0, 1.5, 6.0, 'Recognized', 'HRDD, GOVT. OF SIKKIM', None, 'Class 1', 'Class 10', 'C.B.S.E.'), (3, 'East', 'S0190', 'CHEURIBOTEY GOVERNMENT JUNIOR HIGH SCHOOL (E)', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'JHS', 'State Govt.', 'CHEURIBOTEY', 'Gangtok', 'West Pandam', 'Central Pendam', 'Central Pendam', 'Cheuribotey', 'Duga', None, None, None, None, 'Urban Area', None, '28856', 60.0, 6.0, 6.0, 'Recognized', 'State Govt.', None, 'Class 1', 'Class 8', None), (4, 'East', 'S0111', 'DUGA GOVERNMENT SECONDARY SCHOOL', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'SS', 'State Govt.', 'DUGA', 'Gangtok', 'West Pandam', 'Central Pendam', 'Central Pendam', 'Duga', 'Duga', '9832082915', None, 'dugaschool@gmail.com', None, 'Urban Area', None, '1828', 52.0, 0.0, 0.5, 'Recognized', 'c.b.s.e.', None, 'Class 1', 'Class 10', 'C.B.S.E.'), (5, 'East', 'S0856', 'EASWARAMMA SAI GURUKOOL ACCADEMY', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'PS', 'Private (Unaided)', 'RALUNG', 'Gangtok', 'West Pandam', 'Central Pendam', 'West Pendam', 'Ralang', 'West Pendam', '9733056624', None, None, None, 'Urban Area', None, '40179.66805555556', 0.0, 0.2, 0.2, 'Recognized', None, None, 'Class 1', 'Class 5', None), (6, 'East', 'S0870', 'ETERNAL ENGLISH SCHOOL, WEST PENDAM', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'PS', 'Private (Unaided)', 'SAKHU WEST PENDAM', 'Gangtok', 'West Pandam', 'West Pendam', 'West Pendam', 'Sakhu', 'Sakhu Busty', '9734190544', None, None, None, 'Urban Area', None, '37300.66805555556', 42.0, 3.0, 4.0, 'Recognized', 'HRDD OF SIKKIM', None, 'Class 1', 'Class 5', None), (7, 'East', 'S0157', 'KHANI GOAN GOVERNMENT PRIMARY SCHOOL', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'PS', 'State Govt.', 'WEST PENDAM', 'Gangtok', 'West Pandam', 'West Pendam', 'West Pendam', 'Khanigaon', 'West Pendam', '9832470263', None, None, None, 'Urban Area', '801801', '29587', 45.0, 5.0, 4.0, 'Recognized', 'State Govt.', None, 'Class 1', 'Class 5', 'C.B.S.E.')  ... displaying 10 of 1249 total bound parameter sets ...  (1247, 'West', 'S0340', 'TINGTING GAON GOVERNMENT PRIMARY SCHOOL', 'Yuksom Brc', 'Yuksom Government Secondary School', 'PS', 'State Govt.', 'TING TING GAON', 'Gyalshing', 'Yoksam-Tashiding', 'Yoksam', 'Yuksom', 'Tingting', 'Yuksom', '9593377402', None, None, None, 'Urban Area', '100282', '29587', 36.0, 3.0, 6.0, 'Recognized', 'STATE GOVERNMENT', None, 'Class 1', 'Class 5', None), (1248, 'West', 'S0542', 'TSONG GOVERNMENT PRIMARY SCHOOL', 'Yuksom Brc', 'Yuksom Government Secondary School', 'PS', 'State Govt.', 'TSONG', 'Gyalshing', 'Yoksam-Tashiding', 'Yoksam', 'Yuksom', 'Yoksam', 'Yuksom', None, None, None, None, 'Urban Area', None, '28176', 40.0, 7.0, 8.0, 'Recognized', 'State Government', None, 'Class 1', 'Class 5', 'C.B.S.E.'))
2022-06-15 04:08:27,517 INFO sqlalchemy.engine.Engine COMMIT

In [12]:
# agregarel marco de datos como una tabla en sqlite
sqlite_table2 = "school_facility_details"
facility.to_sql(sqlite_table2, conn, if_exists='fail')

2022-06-15 04:08:33,397 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("school_facility_details")
2022-06-15 04:08:33,400 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-06-15 04:08:33,407 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("school_facility_details")
2022-06-15 04:08:33,413 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-06-15 04:08:33,424 INFO sqlalchemy.engine.Engine
CREATE TABLE school_facility_details (
	"index" BIGINT,
	"EstablishmentCode" TEXT,
	"EstablishmentName" TEXT,
	"IsLibraryAvailable" TEXT,
	"AvailableBooksCount" BIGINT,
	"IsFireExtgAvailable" TEXT,
	"ExtinguisherCount" BIGINT,
	"HOIRoomAvailable" TEXT,
	"IsStaffRoomAvailable" TEXT,
	"NoofStaffRoom" BIGINT,
	"IsLockerForStaffAvailable" TEXT,
	"IsSportsStoreRoomAvailable" TEXT
)


2022-06-15 04:08:33,430 INFO sqlalchemy.engine.Engine [no key 0.00520s] ()
2022-06-15 04:08:33,445 INFO sqlalchemy.engine.Engine COMMIT
2022-06-15 04:08:33,449 INFO sqlalchemy.engine.Engine CREATE INDEX ix_school_facility_details_index ON school_facility_details ("index")
2022-06-15 04:08:33,451 INFO sqlalchemy.engine.Engine [no key 0.00195s] ()
2022-06-15 04:08:33,469 INFO sqlalchemy.engine.Engine COMMIT
2022-06-15 04:08:33,475 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-15 04:08:33,538 INFO sqlalchemy.engine.Engine INSERT INTO school_facility_details ("index", "EstablishmentCode", "EstablishmentName", "IsLibraryAvailable", "AvailableBooksCount", "IsFireExtgAvailable", "ExtinguisherCount", "HOIRoomAvailable", "IsStaffRoomAvailable", "NoofStaffRoom", "IsLockerForStaffAvailable", "IsSportsStoreRoomAvailable") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2022-06-15 04:08:33,547 INFO sqlalchemy.engine.Engine [generated in 0.05839s] ((0, 'S1034', '(I.E.C) INDIAN EVANGALISTIC CRUSADE MISSION PRIMARY SCHOOL, RIMBI', 'Not Available', 0, 'Available', 1, 'Available', 'Not Available', 0, 'Not Available', 'Not Available'), (1, 'S0516', '10TH MILE GOVERNMENT PRIMARY SCHOOL', 'Not Available', 0, 'Not Available', 0, 'Available', 'Available', 1, 'Not Available', 'Not Available'), (2, 'S0237', '4TH MILE GOVERNMENT JUNIOR HIGH SCHOOL', 'Not Available', 0, 'Available', 2, 'Not Available', 'Not Available', 0, 'Not Available', 'Not Available'), (3, 'S0692', 'AAPGAZI GOVERNMENT PRIMARY SCHOOL', 'Not Available', 0, 'Not Available', 0, 'Not Available', 'Not Available', 0, 'Not Available', 'Not Available'), (4, 'S0374', 'AARUBOTEY GOVERNMENT PRIMARY SCHOOL', 'Not Available', 0, 'Available', 2, 'Not Available', 'Not Available', 0, 'Not Available', 'Not Available'), (5, 'S0218', 'ADAMPOOL GOVERNMENT JUNIOR HIGH SCHOOL', 'Available', 217, 'Available', 5, 'Available', 'Available', 1, 'Available', 'Not Available'), (6, 'S1064', 'ADONAI HOMES , NAYA BAZAR', 'Available', 0, 'Available', 0, 'Not Available', 'Available', 2, 'Not Available', 'Available'), (7, 'C1348', 'ADVANCED TECHNICAL TRAINING CENTRE', 'Available', 0, 'Available', 0, 'Available', 'Available', 0, 'Available', 'Available')  ... displaying 10 of 1256 total bound parameter sets ...  (1254, 'S0185', 'ZITLANG GOVERNMENT JUNIOR HIGH SCHOOL', 'Available', 0, 'Available', 5, 'Not Available', 'Available', 1, 'Not Available', 'Not Available'), (1255, 'S0267', 'ZOOM GOVERNMENT SECONDARY SCHOOL', 'Not Available', 0, 'Available', 6, 'Available', 'Available', 1, 'Available', 'Not Available'))
2022-06-15 04:08:33,568 INFO sqlalchemy.engine.Engine COMMIT

In [14]:
def EjecutaSQSL(sql,filas = 5):
  # Escribe tu consulta SQL en esta cadena

  # Lee la consulta sql en pandas para ver los resultados
  df = pd.read_sql_query(sql, engine)
  return df.head(filas)

In [15]:
def EjecutaSQSLEXEC(sql):
  # Escribe tu consulta SQL en esta cadena

  # Lee la consulta sql en pandas para ver los resultados
  conn.execute(sql)

In [ ]:
# Escribe tu consulta SQL en esta cadena
sql = """
select * from school_details
"""
EjecutaSQSL(sql)

2022-06-15 01:55:48,585 INFO sqlalchemy.engine.Engine
select * from school_details

2022-06-15 01:55:48,588 INFO sqlalchemy.engine.Engine [raw sql] ()

,index,DistrictName,EstablishmentCode,EstablishmentName,BRCName,CRCName,SchoolLevel,ManagementName,LocalityHabitation,SubdivisionName,...,EstablishedDate,DistrictHQDistance (in Km),CRCDistance (in Km),BACDistance (in Km),IsRecognized,RecognizedBy,ContactPersonName,LowestClass,HighestClass,BoardName
0,0,East,S0169,BUDANG GOVERNMENT PRIMARY SCHOOL (E),Duga Brc,Central Pendam Government Senior Secondary School,PS,State Govt.,BUDANG,Gangtok,...,28126,58.0,8.0,16.0,Recognized,HRDD,None,Class 1,Class 5,None
1,1,East,S0099,CENTRAL PENDAM GOVERNMENT SENIOR SECONDARY SCHOOL,Duga Brc,Central Pendam Government Senior Secondary School,SSS,State Govt.,CENTRAL PENDAM,Gangtok,...,15342,50.0,0.0,6.0,Recognized,HRDD,None,Class 1,Class 12,C.B.S.E.
2,2,East,S0848,"CENTRAL POINT ACADEMY, CENTRAL PENDAM",Duga Brc,Central Pendam Government Senior Secondary School,SS,Private (Unaided),UPPER BHURUNG CENTRAL PENDAM,Gangtok,...,37257.38680555556,49.0,1.5,6.0,Recognized,"HRDD, GOVT. OF SIKKIM",None,Class 1,Class 10,C.B.S.E.
3,3,East,S0190,CHEURIBOTEY GOVERNMENT JUNIOR HIGH SCHOOL (E),Duga Brc,Central Pendam Government Senior Secondary School,JHS,State Govt.,CHEURIBOTEY,Gangtok,...,28856,60.0,6.0,6.0,Recognized,State Govt.,None,Class 1,Class 8,None
4,4,East,S0111,DUGA GOVERNMENT SECONDARY SCHOOL,Duga Brc,Central Pendam Government Senior Secondary School,SS,State Govt.,DUGA,Gangtok,...,1828,52.0,0.0,0.5,Recognized,c.b.s.e.,None,Class 1,Class 10,C.B.S.E.

In [16]:
# Escribe tu consulta SQL en esta cadena
sql = """
select * from school_facility_details
"""
EjecutaSQSL(sql)

2022-06-15 04:10:30,720 INFO sqlalchemy.engine.Engine
select * from school_facility_details

2022-06-15 04:10:30,725 INFO sqlalchemy.engine.Engine [raw sql] ()

,index,EstablishmentCode,EstablishmentName,IsLibraryAvailable,AvailableBooksCount,IsFireExtgAvailable,ExtinguisherCount,HOIRoomAvailable,IsStaffRoomAvailable,NoofStaffRoom,IsLockerForStaffAvailable,IsSportsStoreRoomAvailable
0,0,S1034,(I.E.C) INDIAN EVANGALISTIC CRUSADE MISSION PR...,Not Available,0,Available,1,Available,Not Available,0,Not Available,Not Available
1,1,S0516,10TH MILE GOVERNMENT PRIMARY SCHOOL,Not Available,0,Not Available,0,Available,Available,1,Not Available,Not Available
2,2,S0237,4TH MILE GOVERNMENT JUNIOR HIGH SCHOOL,Not Available,0,Available,2,Not Available,Not Available,0,Not Available,Not Available
3,3,S0692,AAPGAZI GOVERNMENT PRIMARY SCHOOL,Not Available,0,Not Available,0,Not Available,Not Available,0,Not Available,Not Available
4,4,S0374,AARUBOTEY GOVERNMENT PRIMARY SCHOOL,Not Available,0,Available,2,Not Available,Not Available,0,Not Available,Not Available

**1.- ¿Cuál es el BACDistance promedio (en km)? Renombra la columna resultante como "avg_bac_distancia."**

In [19]:
# Escribe tu consulta SQL en esta cadena
sql = """
select AVG([BACDistance (in Km)]) as avg_bac_distancia from school_details
"""
EjecutaSQSL(sql)

2022-06-15 04:12:25,603 INFO sqlalchemy.engine.Engine
select AVG([BACDistance (in Km)]) as avg_bac_distancia from school_details

2022-06-15 04:12:25,606 INFO sqlalchemy.engine.Engine [raw sql] ()

   avg_bac_distancia
0          12.681822

**2.-¿Cuál es el BACDistance promedio (en km) según nivel educativo del colegio?  Ordena los resultados de promedio mayor a promedio menor.**

In [21]:
# Escribe tu consulta SQL en esta cadena
sql = """
select SchoolLevel, AVG([BACDistance (in Km)]) as avg_bac_distancia from school_details GROUP BY SchoolLevel ORDER BY avg_bac_distancia ASC
"""
EjecutaSQSL(sql,100)

2022-06-15 04:14:31,496 INFO sqlalchemy.engine.Engine
select SchoolLevel, AVG([BACDistance (in Km)]) as avg_bac_distancia from school_details GROUP BY SchoolLevel ORDER BY avg_bac_distancia ASC

2022-06-15 04:14:31,508 INFO sqlalchemy.engine.Engine [raw sql] ()

  SchoolLevel  avg_bac_distancia
0        None                NaN
1         LPS           5.368421
2         SSS          10.863095
3          SS          12.630872
4          PS          12.830787
5         JHS          13.692647

**3.-Repite la consulta anterior, pero solo muestra los resultados donde la distancia promedio sea menor a 10 km.**

In [26]:
# Escribe tu consulta SQL en esta cadena
sql = """
select SchoolLevel, AVG([BACDistance (in Km)]) as avg_bac_distancia from school_details  GROUP BY SchoolLevel  HAVING avg_bac_distancia < 10 ORDER BY avg_bac_distancia ASC
"""
EjecutaSQSL(sql,100)

2022-06-15 04:17:50,457 INFO sqlalchemy.engine.Engine
select SchoolLevel, AVG([BACDistance (in Km)]) as avg_bac_distancia from school_details  GROUP BY SchoolLevel  HAVING avg_bac_distancia < 10 ORDER BY avg_bac_distancia ASC

2022-06-15 04:17:50,461 INFO sqlalchemy.engine.Engine [raw sql] ()

  SchoolLevel  avg_bac_distancia
0         LPS           5.368421

**4.-Une las dos tablas (detalles de colegios y detalles de instalaciones de los colegios). Comienza mostrando todas las columnas, pero limita las filas resultantes a solo 2.**

In [30]:
# Escribe tu consulta SQL en esta cadena
sql = """
SELECT * 
FROM school_details AS sd INNER JOIN school_facility_details as sfd
ON sd.EstablishmentCode = sfd.EstablishmentCode;
"""
EjecutaSQSL(sql,100)

2022-06-15 04:34:40,293 INFO sqlalchemy.engine.Engine
SELECT *
FROM school_details AS sd INNER JOIN school_facility_details as sfd
ON sd.EstablishmentCode = sfd.EstablishmentCode;

2022-06-15 04:34:40,297 INFO sqlalchemy.engine.Engine [raw sql] ()

,index,DistrictName,EstablishmentCode,EstablishmentName,BRCName,CRCName,SchoolLevel,ManagementName,LocalityHabitation,SubdivisionName,...,EstablishmentName,IsLibraryAvailable,AvailableBooksCount,IsFireExtgAvailable,ExtinguisherCount,HOIRoomAvailable,IsStaffRoomAvailable,NoofStaffRoom,IsLockerForStaffAvailable,IsSportsStoreRoomAvailable
0,0,East,S0169,BUDANG GOVERNMENT PRIMARY SCHOOL (E),Duga Brc,Central Pendam Government Senior Secondary School,PS,State Govt.,BUDANG,Gangtok,...,BUDANG GOVERNMENT PRIMARY SCHOOL (E),Available,100,Available,2,Available,Available,1,Not Available,Not Available
1,1,East,S0099,CENTRAL PENDAM GOVERNMENT SENIOR SECONDARY SCHOOL,Duga Brc,Central Pendam Government Senior Secondary School,SSS,State Govt.,CENTRAL PENDAM,Gangtok,...,CENTRAL PENDAM GOVERNMENT SENIOR SECONDARY SCHOOL,Available,0,Available,5,Available,Available,2,Not Available,Available
2,2,East,S0848,"CENTRAL POINT ACADEMY, CENTRAL PENDAM",Duga Brc,Central Pendam Government Senior Secondary School,SS,Private (Unaided),UPPER BHURUNG CENTRAL PENDAM,Gangtok,...,"CENTRAL POINT ACADEMY, CENTRAL PENDAM",Available,500,Available,1,Not Available,Available,1,Available,Available
3,3,East,S0190,CHEURIBOTEY GOVERNMENT JUNIOR HIGH SCHOOL (E),Duga Brc,Central Pendam Government Senior Secondary School,JHS,State Govt.,CHEURIBOTEY,Gangtok,...,CHEURIBOTEY GOVERNMENT JUNIOR HIGH SCHOOL (E),Available,120,Available,3,Available,Available,1,Not Available,Not Available
4,4,East,S0111,DUGA GOVERNMENT SECONDARY SCHOOL,Duga Brc,Central Pendam Government Senior Secondary School,SS,State Govt.,DUGA,Gangtok,...,DUGA GOVERNMENT SECONDARY SCHOOL,Available,0,Available,5,Available,Available,1,Not Available,Not Available
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,95,East,S0506,LOWER SYARI GOVERNMENT SECONDARY SCHOOL,Gangtok Brc,Tadong Government Senior Secondary School,SS,State Govt.,SYARI,Gangtok,...,LOWER SYARI GOVERNMENT SECONDARY SCHOOL,Not Available,0,Available,7,Not Available,Available,1,Not Available,Not Available
96,96,East,S0208,LUMSEY GOVERNMENT JUNIOR HIGH SCHOOL,Gangtok Brc,Tadong Government Senior Secondary School,JHS,State Govt.,LUMSEY,Gangtok,...,LUMSEY GOVERNMENT JUNIOR HIGH SCHOOL,Not Available,0,Available,2,Available,Available,1,Not Available,Not Available
97,97,East,S0942,"MICKEYS INTERNATIONAL, DEORALI",Gangtok Brc,Tadong Government Senior Secondary School,JHS,Private (Unaided),DEORALI,Gangtok,...,"MICKEYS INTERNATIONAL, DEORALI",Available,180,Available,2,Available,Not Available,0,Not Available,Available
98,98,East,S1219,"MOUNT CARMEL ACADEMY, DEORALI",Gangtok Brc,Tadong Government Senior Secondary School,LPS,Private (Unaided),DEORALI,Gangtok,...,"MOUNT CARMEL ACADEMY, DEORALI",Not Available,0,Available,1,Not Available,Available,1,Not Available,Not Available
99,99,East,S1248,"MOUNT ZION SCHOOL (KIDZEE), 5TH MILE",Gangtok Brc,Tadong Government Senior Secondary School,JHS,Private (Unaided),5TH MILE TADONG,Gangtok,...,"MOUNT ZION SCHOOL (KIDZEE), 5TH MILE",Available,300,Not Available,0,Not Available,Not Available,0,Available,Available

In [35]:
# Escribe tu consulta SQL en esta cadena
sql = """

SELECT sd.DistrictName, sfd.HOIRoomAvailable 
FROM school_details AS sd INNER JOIN school_facility_details as sfd
ON sd.EstablishmentCode = sfd.EstablishmentCode;


"""
EjecutaSQSL(sql,100)

2022-06-15 04:39:25,230 INFO sqlalchemy.engine.Engine

SELECT sd.DistrictName, sfd.HOIRoomAvailable
FROM school_details AS sd INNER JOIN school_facility_details as sfd
ON sd.EstablishmentCode = sfd.EstablishmentCode;



2022-06-15 04:39:25,236 INFO sqlalchemy.engine.Engine [raw sql] ()

   DistrictName HOIRoomAvailable
0          East        Available
1          East        Available
2          East    Not Available
3          East        Available
4          East        Available
..          ...              ...
95         East    Not Available
96         East        Available
97         East        Available
98         East    Not Available
99         East    Not Available

[100 rows x 2 columns]