<a href="https://colab.research.google.com/github/aabarzu/Coding-Dojo/blob/main/practicaCargayFiltroDatos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#
from google.colab import drive
import pandas as pd


drive.mount('/content/drive', force_remount=True)

filename = '/content/drive/My Drive/CodingDojo/DataScience/PandasForDataManipulation/RailsToTrails_National_Count_Data_week.xlsx'

bike_df = pd.read_excel(filename)

Mounted at /content/drive

In [2]:
#Selecciona solo los datos después del 31 de julio de 2020.
bike_df = pd.read_excel(filename)

print("Selecciona solo los datos después del 31 de julio de 2020.")
Week_of_filter = bike_df['Week of'] > '2020-07-31'

#Forma1 
#print("#Forma1 \n")
#print( bike_df[Week_of_filter] )
#print("\n")

#bike_df[Week_of_filter]

#Forma2
print("#Forma2 \n")
bike_df.loc[Week_of_filter, :].head()
#print("\n")

Selecciona solo los datos después del 31 de julio de 2020.
#Forma2

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Week 1,2020-12-30,167679.0,183546.0,NaN,0.094627,1.094627,NaN,NaN,NaN
31,Week 32,2020-08-03,180605.0,239827.0,NaN,0.330000,132.790897,NaN,NaN,NaN
32,Week 33,2020-08-10,191450.0,219279.0,NaN,0.150000,114.535910,NaN,NaN,NaN
33,Week 34,2020-08-17,168754.0,241007.0,NaN,0.430000,142.815578,NaN,NaN,NaN
34,Week 35,2020-08-24,176624.0,273677.0,NaN,0.550000,154.948931,NaN,NaN,NaN

In [3]:
#Selecciona solo los datos donde la columna «Change 2019-2020» sea mayor que 100% (más de 1).
# 'Change 2019-2020'
print("Selecciona solo los datos donde la columna «Change 2019-2020» sea mayor que 100% (más de 1).")
bike_df = pd.read_excel(filename)

Change_2019_2020_filter =bike_df['Change 2019-2020'] > 1



#bike_df[Change_2019_2020_filter].value_counts()

bike_df[Change_2019_2020_filter]

#bike_df.loc[Change_2019_2020_filter, :]

#bike_df.loc[mortgage_filter, :].head()

Selecciona solo los datos donde la columna «Change 2019-2020» sea mayor que 100% (más de 1).

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
7,Week 8,2020-02-17,69492.0,149876.0,NaN,1.156737,215.673747,NaN,NaN,NaN
11,Week 12,2020-03-16,125440.0,367795.0,NaN,1.932039,293.203922,NaN,NaN,NaN
12,Week 13,2020-03-23,136330.0,372783.0,NaN,1.730000,273.441649,NaN,NaN,NaN
13,Week 14,2020-03-30,118784.0,280728.0,NaN,1.360000,236.334860,NaN,NaN,NaN
14,Week 15,2020-04-06,132033.0,419160.0,NaN,2.170000,317.466088,NaN,NaN,NaN

In [4]:
print("¡Selecciona esto! ¿Hubo alguna semana en la segunda mitad del año (luego del 31 de julio de 2020) donde el cambio fuera mayor que 100%?")

Week_of_filter = bike_df['Week of'] > '2020-07-31'
Change_2019_2020_filter =bike_df['Change 2019-2020'] > 1

bike_df_2 = bike_df.loc[Week_of_filter & Change_2019_2020_filter, :]
bike_df_2

¡Selecciona esto! ¿Hubo alguna semana en la segunda mitad del año (luego del 31 de julio de 2020) donde el cambio fuera mayor que 100%?

Empty DataFrame
Columns: [Timeframe, Week of,  2019 counts (31 counters),  2020 counts (31 counters), 2021 Counts, Change 2019-2020, Unnamed: 6, Unnamed: 7, Unnamed: 8, Unnamed: 9]
Index: []